@charset "UTF-8";
/*Familia Tipográfica de Google Fonts*/
body {
  font-family: 'M PLUS Rounded 1c',sans-serif; }

/*Peso y Color de Fuente de Títulos*/
h1 {
  font-weight: 700;
  color: #b52525; }

h2 {
  font-weight: 500;
  color: #b27d1a; }

/*Menú de Navegación Principal*/
#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.anchor {
  text-decoration: none;
  text-align: center;
  color: #02025b;
  background-color: #81efed;
  padding: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ff8800;
  border-radius: 4px; }

header {
  background-color: #f08080;
  margin-bottom: 40px; }

#ingredientes {
  list-style-type: disc;
  background-image: url("../imagenes/lasagna1.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  opacity: .8; }

span {
  background-color: #98dd30; }

.color-primero {
  color: #2acec3; }

#color-segundo {
  color: #8538b4; }

.paragraph1, .paragraph2, .paragraph3 {
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  background-color: #92cee3; }

.paragraph2 {
  background-color: #92ed92; }

.paragraph3 {
  background-color: #f08080; }

.card {
  height: 100%; }

/*Listas de Pie de Página con Sistema de Grilla de Bootstrap*/
#foot {
  background-color: #f7c88e; }

.footer-list {
  list-style-type: none;
  padding-left: 0px; }

.footer-list2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.item {
  padding-right: 8px; }

/*Transformaciones y Transiciones*/
.imagen {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  justify-self: center;
  align-self: end; }

.img1:hover {
  grid-area: area1;
  transform: translateX(10px); }

.img2:hover {
  grid-area: area2;
  transform: translateY(10px); }

.img3:hover {
  grid-area: area3;
  transform: rotateX(20deg); }

.img4:hover {
  grid-area: area4;
  transform: rotateY(20deg); }

.img5:hover {
  grid-area: area5;
  transform: rotateZ(10deg); }

.img6:hover {
  grid-area: area6;
  transform: skewX(10deg); }

.img7:hover {
  grid-area: area7;
  transform: skewY(10deg); }

.img8:hover {
  grid-area: area8;
  transform: scaleX(2); }

.img9:hover {
  grid-area: area9;
  transform: scaleY(2); }

/*Grid*/
#division {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0px;
  row-gap: 70px;
  grid-template-areas: "area1 area2 area3 area4" "area5 area6 area7 area8" "area9 none none none";
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  align-content: space-around; }

/*Media Queries*/
@media screen and (max-width: 816px) {
  #division {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9"; } }

@media screen and (max-width: 616px) {
  #division {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6" "area7 area8"  "area9 none"; } }

@media screen and (max-width: 426px) {
  #navigation {
    flex-direction: column; } }

@media screen and (max-width: 416px) {
  #division {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8" "area9"; } }
